
*,
*:before,
h1,
h2,
h3,
h4,
h5,

@font-face{
    font-family : 'mainFont';
    font-style  : normal;
    font-weight : normal;
    src         : url('../font/ofont.ru_Karina.otf');
    src         : url('../font/ofont.ru_Karina.woff') format('woff');
}

html {
    box-sizing : border-box;
    font-size: 24px;
}


img {
    height : auto;
    width  : 100%;
}

.text-center {
    display         : flex;

    height          : 100vh;
    width           : 100vw;

    align-items     : center;
    justify-content : center;
}

body {
    font-family     : "mainFont";
    font-size       : 24px;
    font-weight     : 400;
    color           : #000000;
    scroll-behavior : smooth;
}

html {
    scroll-behavior : smooth;
}

h6 {
    font-family : "Playfair Display";
    font-weight : 700;
}

h1 {
    font-size : 6em;
}

h2 {
    font-size : 2em !important;
}

h3 {
    font-size : 1.5em;
}

p {
    font-size : 1em;
}

figcaption {
    margin-top  : 15px;

    font-size   : .6em;
    font-weight : 200;
}

a {
    font-size       : 1em;
    color           : black;
    text-decoration : none;
    transition      : all .5s ease-in-out;
}

.container {
    width         : 100%;
    max-width     : 1360px;
    margin-right  : auto;
    margin-left   : auto;
    padding-right : 15px;
    padding-left  : 15px;
}