
*,
*:before,
h1,
h2,
h3,
h4,
h5,

@font-face{
    font-family: 'mainFont';
    font-style: normal;
    font-weight: normal;
    src: url('../font/ofont.ru_Karina.otf');
    src: url('../font/ofont.ru_Karina.woff') format('woff');
}

html {
    box-sizing: border-box;
    font-size: 24px;
}

@media screen and (max-width: 560px) {
    html{
        font-size: 18px;
    }
}

img {
    height: auto;
    width: 100%;
}

.text-center {
    display: flex;

    height: 100vh;
    width: 100vw;

    align-items: center;
    justify-content: center;
}

body {
    font-family: "mainFont";
    font-size: 24px;
    font-weight: 400;
    color           : #000000;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

h6 {
    font-family: "mainFont";
    font-weight: 700;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 2rem !important;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

figcaption {
    margin-top: 15px;
    font-size: .6em;
    font-weight: 200;
}

a {
    font-size: 1rem;
    color           : black;
    text-decoration: none;
    transition      : all .5s ease-in-out;
}

i{
    font-style: italic;
}

.container {
    max-width: 1360px;
    padding: 0 calc(15px + 2.63vw);
    margin: 0 auto;
}